.rm-title {font-family: 'Fira Sans'; font-weight: 900; font-size: 20px; text-transform: uppercase; text-align: center; letter-spacing: 2px;} 
.rm-title span {color: var(--color-acento);} 
.rm-subtitle {width: 350px; font-family: 'Fira Sans'; font-size: 9px; letter-spacing: 1px; display: flex; text-transform: uppercase; margin-top: 5px;} 
.rm-subtitle::before {content: ''; flex: 1; display: block; height: 4px; background-color: var(--color-acento); margin-right: 5px; margin-top: 4px;} 
.rm-subtitle::after {content: ''; flex: 1; display: block; width: 20px; height: 4px; background-color: var(--color-acento); margin-left: 5px; margin-top: 4px;} 
.rm-subtitle i {margin-left: 5px; margin-right: 5px; color: var(--color-acento);}
